<% if obj.count < 1 %>
    <div class="well center">No articles found!  <%= link_to "Create a new one?", new_article_path %></div>
<% end %>
<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to truncate(article.title,length:80)+(" .." if article.title.length > 80), article_path(article) %> 
        </div>
        <div class="article-user">
          <small>Created by: </small><%= link_to truncate(article.user.username,length:40), articles_path(article.user) %> 
        </div>
        <div class="article-body">
          <%= truncate(article.description,length:120)+(" .." if article.description.length > 80) %>
          
          <div class="article-meta-details">
            Created: <%= time_ago_in_words(article.created_at) %> ago, 
            Last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </div>
        </div>
        <% if article.categories.any? %>
          <p>Categories: <%= render article.categories %></p>
        <% end %>
        <% if logged_in? and (current_user == article.user || current_user.admin?)  %>
          <div class="article-actions">
            <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this article", article_path(article), method: :delete, data: { 
                confirm: "Are you sure you wanto delete this article?" }, class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>   
<% end %>

<br>