<h1 align="center">Search results: '<%= session[:search] %>'</h1>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <% will_paginate %>
</div>
<%= hidden_field_tag :search, params[:search] %>
