<h1 align="center">All Alpha-Bloggers</h1>

<div align="center">
  <%= will_paginate %>
</div>

<% @users.each do |user| %>
<div align="center">
  <ul class="listing">
    <div class="row">
      <div class="well col-md-12 center">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-title"><%= link_to user.username, user_path(user) %></li>
        <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        <% if logged_in? and current_user.admin? %>
        <li><%= link_to "(Delete this user)", user_path(user), class: "small", method: :delete, 
                data: { confirm: "Are you sure you want to delete this user and all their articles?" } %></li>
        <% end %>
      </div>
    </div>
  </ul>
</div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>

