<!doctype html>
<html class="js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBlog | About</title>


  </head>
  <body>

        <h3>Alpha-Blog</h3>

          <div class="well">
          <p>About me:</p>
          <%= link_to image_tag('alex.jpg'), 'http://www.xddev.net' %>
          <p>Alex Datsko, 37 year old IT professional from Sacramento, CA. </p>
          <p>I have coded in languages Pascal, C, C++, VB, SQR, PHP, also IoT programming in C on platforms such as Arduino and Raspberry Pi, and am currently studying Ruby on Rails.</p>
          <p>Click on my picture to visit my very crude and terrible site.</p>
          <p>I love lamp.  </p>
          </div>


        <%= link_to 'Home', root_path %><br>
 


</body>
</html>
