<!doctype html>
<html class="js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBlog | Home</title>


  </head>
  <body>

<div class="center jumbotron">

  <h1>AlphaBlog | Home</h1>
<br>
  <%= link_to "Sign up now", signup_path, class: "btn btn-success btn-xlarge" %>
<br><br>
  <p>Woot.</p>
  <p>We can be like twitter.</p>
<br>
  
  <%= link_to 'AlphaBlog Articles', articles_path %> | 
  <%= link_to 'About', about_path %>
</div>
</body>
</html>
