<%= render 'shared/errors', obj: @category %>

<%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <h1 align="center"><%= "Category: " + @category.name %></h1>
  <div align="center">
  <% if logged_in? and current_user.admin? %>
    <div class="row">
      <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span><p></p>
    </div>
  <% end %>

  <div align="center"> 
    <%= will_paginate @category_articles %>
  </div>

  <%= render 'articles/article', obj: @category_articles %>

  <div align="center">
    <%= will_paginate @category_articles %>
  </div>

<% end %>



