<div class="container">
  <footer class="footer">
    <small>Copyright &copy 2018 <a href="http://www.xddev.net">xddev.net</a> by Alex Datsko</small>

    <nav><ul><li><%= link_to "About", about_path, id: "about" %></li></ul></nav>

  </footer>
</div>
