<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlogCentauri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    
    <% if !Rails.env.production?  %> 
      <%= debug(params) %>
      <%= debug session if false %> 
    <% end %>
  </body>
</html>
